# Java/Maven
target/
*.class
*.jar
*.war
*.ear

# Android
.gradle/
build/
local.properties
*.apk
*.aab
captures/
.externalNativeBuild/
.cxx/

# IDEs
.idea/
.vscode/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/
.nb-gradle/

# OS/System
.DS_Store
Thumbs.db

# Misc
node_modules/
dist/
.env
.log
